* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  padding-left: 5px;
  font-family: "Roboto Serif", serif;
}


.achievement-page {
  font-family: "Lora", serif;
  background-color: white;
  line-height: 1cm;
}
.navbar-heading p {
  font-size: 30px;
  margin: auto 5px;
  font-family: "Roboto Serif", serif;
  font-weight: bolder;
  color: rgb(252, 250, 250);
  text-shadow: 4px 3px 8px rgb(4, 4, 102);
}
.nav-item a {
  font-size: 20px;
  color: black;
  margin-right: 9px;
  font-family: "Roboto Serif", serif;
  font-weight: 900;
  text-shadow: #023e8a;
}

.nav-item a:hover {
  color: #aee1eb;
  width: fit-content;
  padding-bottom: 2px;
  border-bottom-style: solid;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.achievement-heading {
  color: black;
  background-color: white;
  margin: 5em auto 1em;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.achievement-page {
  font-family: "Lora", serif;
  background-color: white;
  line-height: 1.5em;
}
.logo {
  border-radius: 50%;
  height: 51px;
  width: 53px;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 63vh;
  height: 50vh;
  border: 1px solid #ccc;
  background: white;
  padding: 0;
  transition: 0.9;
  display: flex;
  margin: 5px;
  flex-direction: column;
  border-radius: 20px;
  border: 5px solid black;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  cursor: pointer;
}
.yt-videos {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  margin: 0;
}

.achievements {
  font-size: 5vh;
  flex: 3;
  display: flex;
  justify-content: center;
  margin-right: 20vw;
}

h2 {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  height: 20%;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  h2 {
    height: 4vh;
    font-size: 10px;
    padding: 1em;
  }
  .box {
    width: 90%;
    height: 40vh;
    padding: 0px;
    margin-bottom: 1em;
    border-radius: 20px;
  }

  .yt-videos {
    width: 100%;
    height: 80%;
    border-radius: 20px;
  }

  .achievements {
    font-size: 5vh;
    flex: 2;
    display: flex;
    justify-content: center;
    margin-right: 10vw;
  }

  .navbar-brand {
    flex: 2;
  }

  .navbar-brand img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
